@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
  background-color: #e8e8e8;
  font-family: "Titillium Web";
  font-weight: 600;
}

header {
  margin: 0px;
  width: 100%;
  height: 80px;
  border-radius: 15px;
  background: #e0e0e0;
  box-shadow: 15px 10px 20px #bebebe,
             -15px -10px 20px #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-bg {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 320px;
  height: 80px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 10px 20px #bebebe,
  -15px -10px 20px #ffffff;
}

.flex-statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-statistic {
  padding-inline: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: 18px;
  width: 310px;
  height: 200px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 10px 5px 10px #bebebe,
  -10px -5px 10px #ffffff;
}

.flex-head-center {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

}

.flex-center-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-inline: 5px;
  color: #090909;
  padding: 0.5em 1.3em;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
